article{
    width: 70%;
    padding:30px;
    border:7px solid #fa4347;
    padding-bottom: 150px;
    margin:auto;
    margin-bottom:150px;
}

h2{
    color: #fa4347;
    text-align: center;
}

#title{
    color: #fa4347;
    list-style: none;
    margin-bottom:30px;
}

