article{
    width: 70%;
    padding:30px;
    border:7px solid #fa4347;
    padding-bottom: 150px;
    margin:auto;
    margin-bottom:150px;
}

h2, p{
    color: #fa4347;
}

h2{
    text-align: center;
}

