section{
    background-color: #fa4347;
}

article{
    padding: 50px;
}

svg{
    width: 150px;
    height: 150px;
}

p, h3{
    color: #423549;
    text-align: center;
}

h2{
    color: #423549;
}

.flex-container{
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div{
    padding:40px;
}

.soft{
    color: #423549;
    text-align: end;
}
li{
    font-size: 25px;
    list-style: none;
}