<section>
  <div class="container-fluid">

      <div class="row align-items-start">
          <div class="col-3">
          </div>
          <div class="col-9">
              <h2 class="titulo-acerca-de">ACERCA DE MÍ</h2>
          </div>
      </div>

      <div class="row align-items-start">
        <div class="col-3">
          <app-edit-acerca-de></app-edit-acerca-de>
        </div>
        <div *ngFor="let datos of aboutMe" class="col-9" id="acerca-de">
          <p>{{datos.paragraph}}</p>
        </div>
      </div>

  </div>
</section>