<section>
    <article>
        <h2 class="titulo-experiencia">EXPERIENCIA</h2>
        <div id="experiencia">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ut corporis repellat molestiae nulla sunt excepturi necessitatibus maxime quo consequuntur voluptatum eius tempora aliquid animi temporibus repudiandae, facere accusamus ipsam!</p>
        </div>
    </article>
</section>

<!-- Button trigger modal 
<a href="#modal">
    <img
    src="../../assets/svg/edit.svg"
    alt="Edit"
    height="42"
    width="42"
    data-bs-toggle="modal"
    />
</a>