<!--
<section>
    <article>
        <h2 class="titulo-experiencia">EXPERIENCIA</h2>
        <div id="experiencia">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ut corporis repellat molestiae nulla sunt excepturi necessitatibus maxime quo consequuntur voluptatum eius tempora aliquid animi temporibus repudiandae, facere accusamus ipsam!</p>
        </div>
    </article>
</section>
-->

<section>
    <div class="container-fluid">
  
        <div class="row text-align-end">
            <div class="col-9">
                <h2 class="titulo-experiencia">EXPERIENCIA</h2>
            </div>
            <div class="col-3">
            </div>
        </div>
  
        <div class="row">
            <div class="col-3" id="experiencia">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi voluptas quia mollitia, tempore voluptatem dolorum ea cupiditate fugiat animi, asperiores quasi quam aliquid nobis tempora. Accusamus asperiores tenetur earum quam.</p>
            </div>
          <div class="col-9">
          </div>
        </div>
  
    </div>
</section>
